<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>订单列表</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">
    <style>
        th,td{
            text-align: center;
        }
    </style>
    <script>
        function dodeliver(element) {
            var ordernumber=element.name;
            if (confirm("确认发货？")){
                location.href='/admin/dodeliver?ordernumber='+ordernumber;
            }
        }
        function dorefund(element) {
            var ordernumber=element.name;
            if (confirm("确认退款？")){
                location.href='/admin/dorefund?ordernumber='+ordernumber;
            }
        }
        function undorefund(element) {
            var ordernumber=element.name;
            if (confirm("确认不退款？")){
                location.href='/admin/undorefund?ordernumber='+ordernumber;
            }
        }
        function showorderdetail(element) {
            var oid=element.name;
            location.href = "/showorderdetail?ordernumber=" + oid;
        }
        function screenstate(element) {
            var val=element.value;
            if (val=='1'){
                location.href = "/admin/orders?state=" + val;
            }else if (val=='2'){
                location.href = "/admin/orders?state=" + val;
            }else if (val=='3'){
                location.href = "/admin/orders?state=" + val;
            }else if (val=='4'){
                location.href = "/admin/orders?state=" + val;
            }else if (val=='5'){
                location.href = "/admin/orders?state=" + val;
            }else if (val=='6'){
                location.href = "/admin/orders?state=" + val;
            }else if (val=='7'){
                location.href = "/admin/orders?state=" + val;
            }
        }
        function allDelivered() {
            if (confirm("确定发货？")) {
                let orders = new Array();
                $(".son_check:checked").each(function (i, item) {
                    let orderid = item.parentNode.id;
                    orders.push({orderid: orderid});
                });
                let state = document.getElementById("state").value;
                $.ajax({
                    type: 'post',
                    url: '/admin/allDelivered',
                    data: {
                        orders: orders,
                        state: state
                    },
                    success: function (result) {
                        location.href = '/admin/orders?state=' + result;
                    }
                });
            }
        }
        function docancel(element) {
            var oid=element.name;
            if (confirm("确认删除订单？")){
                location.href = "/admincancel?ordernumber=" + oid;
            }
        }
    </script>
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a><img src="/images/logo-sidebar.png" title="JANE" alt="JANE" /></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item"> <a href="/admin/admin"><i class="mdi mdi-home"></i> 后台首页</a> </li>
                        <li class="nav-item"> <a href="/admin/userslist"><i class="mdi mdi-account-multiple"></i> 用户信息管理</a> </li>
                        <li class="nav-item active"> <a href="/admin/orders"><i class="mdi mdi-content-paste"></i> 订单信息管理</a> </li>
                        <li class="nav-item"> <a href="/admin/comment"><i class="mdi mdi-comment-multiple-outline"></i> 评论信息管理</a> </li>
                        <li class="nav-item"> <a href="/admin/goodslist"><i class="mdi mdi-shopping"></i> 商品信息管理</a> </li>
                    </ul>
                </nav>
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">
            <nav class="navbar navbar-default">
                <div class="topbar">
                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title"> 订单信息管理 </span>
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar img-avatar-48 m-r-10" src="/images/users/avatar.jpg" alt="笔下光年" />
                                <span>{{user.username}} <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li> <a href="/"><i class="mdi mdi-home"></i> 网站首页</a></li>
                                <!--<li> <a href="/admin/admininfo"><i class="mdi mdi-account"></i> 管理员个人信息</a> </li>
                                <li> <a href="/admin/editadminpsw"><i class="mdi mdi-lock-outline"></i> 修改管理员密码</a> </li>-->
                                <!--<li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>-->
                                <li class="divider"></li>
                                <li> <a href="/admin/exit"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ul class="pager">
                                        <li class="previous">
                                            <a style="border: none;background-color: rgba(0,0,0,0);">
                                                <button type="button" onclick="allDelivered()" data-loading-text="处理中" class="btn btn-primary" autocomplete="off">
                                                    批量发货
                                                </button>
                                            </a>
                                        </li>
                                        <li class="previous">
                                            <a style="border: none;background-color: rgba(0,0,0,0);">
                                                <form class="form-inline my-2 my-lg-0 ml-5" method="get" action='/admin/orders'>
                                                    <input class="search form-control mr-sm-2" name="ordernumber" type="search">
                                                    <button class="btn btn-primary" type="submit">搜 索</button>
                                                </form>
                                            </a>
                                        </li>
                                        <li>
                                            <select id="state" style="width: 180px;height: 36px;border: 1px solid rgba(0,0,0,0.1)" name="state" onblur="screenstate(this)">
                                                {{if state=='1'}}
                                                <option value="1">待付款</option>
                                                <option value="2">已付款</option>
                                                <option value="3">已发货</option>
                                                <option value="4">已收货</option>
                                                <option value="5">待退款</option>
                                                <option value="6">已退款</option>
                                                <option value="7">未退款</option>
                                                {{else if state=='2'}}
                                                <option value="2">已付款</option>
                                                <option value="1">待付款</option>
                                                <option value="3">已发货</option>
                                                <option value="4">已收货</option>
                                                <option value="5">待退款</option>
                                                <option value="6">已退款</option>
                                                <option value="7">未退款</option>
                                                {{else if state=='3'}}
                                                <option value="3">已发货</option>
                                                <option value="1">待付款</option>
                                                <option value="2">已付款</option>
                                                <option value="4">已收货</option>
                                                <option value="5">待退款</option>
                                                <option value="6">已退款</option>
                                                <option value="7">未退款</option>
                                                {{else if state=='4'}}
                                                <option value="4">已收货</option>
                                                <option value="1">待付款</option>
                                                <option value="2">已付款</option>
                                                <option value="3">已发货</option>
                                                <option value="5">待退款</option>
                                                <option value="6">已退款</option>
                                                <option value="7">未退款</option>
                                                {{else if state=='5'}}
                                                <option value="5">待退款</option>
                                                <option value="1">待付款</option>
                                                <option value="2">已付款</option>
                                                <option value="3">已发货</option>
                                                <option value="4">已收货</option>
                                                <option value="6">已退款</option>
                                                <option value="7">未退款</option>
                                                {{else if state=='6'}}
                                                <option value="6">已退款</option>
                                                <option value="1">待付款</option>
                                                <option value="2">已付款</option>
                                                <option value="3">已发货</option>
                                                <option value="4">已收货</option>
                                                <option value="5">待退款</option>
                                                <option value="7">未退款</option>
                                                {{else if state=='7'}}
                                                <option value="7">未退款</option>
                                                <option value="1">待付款</option>
                                                <option value="2">已付款</option>
                                                <option value="3">已发货</option>
                                                <option value="4">已收货</option>
                                                <option value="5">待退款</option>
                                                <option value="6">已退款</option>
                                                {{else}}
                                                <option>根据订单状态筛选</option>
                                                <option value="1">待付款</option>
                                                <option value="2">已付款</option>
                                                <option value="3">已发货</option>
                                                <option value="4">已收货</option>
                                                <option value="5">待退款</option>
                                                <option value="6">已退款</option>
                                                <option value="7">未退款</option>
                                                {{/if}}
                                            </select>
                                        </li>
                                        <li class="next"><a style="background-color: #33cabb;color: white">订单数量:{{total}}</a></li>
                                    </ul>
                                    <table class="table table-hover table-condensed table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="lyear-checkbox checkbox-primary">
                                                    <input type="checkbox" id="check-all"><span></span>
                                                </label>
                                            </th>
                                            <th>订单号</th>
                                            <th>用户名</th>
                                            <th>下单时间</th>
                                            <th>总价</th>
                                            <th>电话</th>
                                            <th>收货地址</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{each orders item}}
                                        <tr>
                                            {{if item.state=='1'&&item.rstate=='0'}}
                                            <td>
                                                <label class="lyear-checkbox checkbox-primary" id="{{item.ordernumber}}">
                                                    <input type="checkbox" class="son_check" name="ids[]" value="1"><span></span>
                                                </label>
                                            </td>
                                            {{else}}
                                            <td></td>
                                            {{/if}}
                                            <td>{{item.ordernumber}}</td>
                                            <td>{{item.username}}</td>
                                            <td>{{item.time}}</td>
                                            <td>{{item.total}}</td>
                                            <td>{{item.phone}}</td>
                                            <td>{{item.address}}</td>
                                            {{if item.state=='0'}}
                                            <td><font class="text-danger">待付款</font></td>
                                            {{else if item.state=='1'&&item.rstate=='0'}}
                                            <td><font class="text-primary">已付款</font></td>
                                            {{else if item.state=='2'&&item.rstate=='0'}}
                                            <td><font class="text-success">已发货</font></td>
                                            {{else if item.state=='3'}}
                                            <td><font class="text-primary">已收货</font></td>
                                            {{else if item.rstate=='1'}}
                                            <td><font class="text-danger">待退款</font></td>
                                            {{else if item.rstate=='2'}}
                                            <td><font class="text-success">已退款</font></td>
                                            {{else if item.rstate=='3'}}
                                            <td><font class="text-danger">未退款</font></td>
                                            {{/if}}
                                            <td>
                                                {{if item.state=='1'&&item.rstate=='0'}}
                                                <button type="button" name="{{item.ordernumber}}" onclick="dodeliver(this)" data-loading-text="处理中" class="btn btn-primary" autocomplete="off">
                                                    发货
                                                </button>
                                                {{else if item.rstate=='1'}}
                                                <button type="button" name="{{item.ordernumber}}" onclick="dorefund(this)" data-loading-text="处理中" class="btn btn-danger" autocomplete="off">
                                                    退款
                                                </button>
                                                <button type="button" name="{{item.ordernumber}}" onclick="undorefund(this)" data-loading-text="处理中" class="btn btn-danger" autocomplete="off">
                                                    不退款
                                                </button>
                                                {{else if item.rstate=='2'}}
                                                <button type="button" name="{{item.ordernumber}}" onclick="docancel(this)" data-loading-text="处理中" class="btn btn-danger" autocomplete="off">
                                                    删除订单
                                                </button>
                                                {{/if}}
                                                <button type="button" name="{{item.ordernumber}}" onclick="showorderdetail(this)" data-loading-text="处理中" class="btn btn-primary" autocomplete="off">
                                                    查看详情
                                                </button>
                                            </td>
                                        </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pager">
                                    <li><a href="/admin/orders?curpage=1&ordernumber={{ordernumber}}">首页</a></li>&nbsp;&nbsp;
                                    <li><a href="/admin/orders?curpage={{curpage==1?1:curpage-1}}&ordernumber={{ordernumber}}">上一页</a></li>&nbsp;&nbsp;&nbsp;
                                    <li><a href="/admin/orders?curpage={{curpage==pages?pages:curpage+1}}&ordernumber={{ordernumber}}">下一页</a></li>&nbsp;&nbsp;&nbsp;
                                    <li><a href="/admin/orders?curpage=<%=pages%>&ordernumber={{ordernumber}}">尾页</a></li>&nbsp;
                                    <li class="next"><a style="background-color: #33cabb;color: white">当前页:{{curpage}}/{{pages}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>

<script type="text/javascript">
    $(function(){
        $('.search-bar .dropdown-menu a').click(function() {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
    });
</script>
</body>
</html>