<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>重置密码</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">
    <script src="/js/check.js"></script>
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--页面主要内容-->
        <main class="lyear-layout-sidebar-close" style="margin: 40px auto;width: 80%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 align="center">重置密码</h3><br>
                                <form method="post" action="/resetpsw" class="site-form">
                                    <div class="form-group">
                                        <label for="password3">新密码</label>
                                        <input type="hidden" name="userid" value="{{user.userid}}">
                                        <input type="password" class="form-control" name="psw" id="password3" placeholder="输入您的新密码" onblur="checkPassword()">
                                        <center><span id="password1"></span></center>
                                    </div>
                                    <div class="form-group">
                                        <label for="password4">重复密码</label>
                                        <input type="password" class="form-control" id="password4" required placeholder="重复新密码" onblur="checkPassword1()">
                                        <center><span id="password2"></span></center>
                                    </div>
                                    <center><button type="submit" id="submit2" class="btn btn-primary">重置密码</button>
                                    </center>
                                </form>
                                <form action="/login" method="get">
                                <button class="btn btn-primary">返回</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.search-bar .dropdown-menu a').click(function() {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
    });
</script>
</body>
</html>